.navBar {
    max-width: 296px;
    width: 296px;
    min-height: 100vh;
    background-color: var(--bs-gray-100);
    padding: $padding;

    .material-symbols-rounded {
        font-size: 24px;
    }

    .logo {
        margin-bottom: 4px;
    }

    .menuBox {
        font-size: 16px;
        font-weight: bold;
        gap: 16px;
        margin-block: 28px;
    }
}

.layout>.d-flex {}