//BS5 修改
:root {
    --bs-body-font-family: 'Lato', 'Roboto Mono', sans-serif, monospace;
    --bs-body-font-size: 14px;
}

.row {
    --bs-gutter-x: 32px;
    --bs-gutter-y: 32px;
}

// $link-color: #198754;
$padding: 32px;