@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
   button- 20230531
   a - 20230601
   vertical-align/img - 20230605
*/
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

sub,
sup,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

img {
  vertical-align: middle;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

.red {
  color: #aa0601;
}

.darkRed {
  color: #650300;
}

.white {
  color: #fff;
}

.bg-red {
  background-color: #aa0601;
}

.bg-darkRed {
  background-color: #650300;
}

.bg-pink {
  background-color: #fbf2f2;
}

body {
  font-family: "Roboto", "Noto Sans TC", system-ui, -apple-system, "PingFang TC", "Segoe UI", "Microsoft JhengHei", "微軟正黑體", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

a.dark-bg {
  color: #fff;
}
a.dark-bg:hover {
  color: #fbf2f2;
  font-weight: bold;
  transform: translateY(-14px);
}
a.white-bg {
  color: #aa0601;
}
a.white-bg:hover {
  color: #650300;
  font-weight: bold;
  transform: translateY(-2px);
}

.imgBox {
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  overflow: hidden;
}
.imgBox img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.6s ease-in;
}
.imgBox.hover:hover img {
  transform: scale(1.2) translateY(-3px);
}

.container {
  max-width: 1368px;
  padding-inline: 36px;
  margin-inline: auto;
}
@media (max-width: 991.988px) {
  .container {
    max-width: 768px;
  }
}
@media (max-width: 575.98px) {
  .container {
    padding-inline: 14px;
  }
}

.flex {
  display: flex;
}

.pdb-80-40m {
  padding-block: 80px;
}
@media (max-width: 575.98px) {
  .pdb-80-40m {
    padding-block: 40px;
  }
}

header {
  padding-block: 16px;
}
header .container {
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 80px;
}
header ul {
  -moz-column-gap: 64px;
       column-gap: 64px;
  height: 100%;
}
header li {
  height: 100%;
  display: inline-block;
}
@media (max-width: 991.988px) {
  header {
    padding-block: 25px;
  }
}
@media (max-width: 575.98px) {
  header {
    padding-block: 12px 0px;
  }
  header .container {
    flex-direction: column;
    max-width: 100%;
    align-items: flex-start;
    padding-inline: 0;
  }
  header .imgBox {
    margin-left: 14px;
    margin-bottom: 12px;
  }
  header ul {
    width: 100%;
    flex-wrap: wrap;
    gap: 0;
  }
  header li {
    width: 50%;
    text-align: center;
    padding-block: 12px;
    border: 1px solid #fff;
  }
}

.home h2 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 575.98px) {
  .home h2 {
    font-size: 24px;
  }
}

.home .kvBanner {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 787px;
  background-size: cover;
}
.home .kvBanner .container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  padding-block: 25px;
}
.home .kvBanner h1 {
  font-size: 64px;
  font-weight: bold;
}
.home .kvBanner h2 {
  font-size: 36px;
}
.home .kvBanner .btn {
  margin-top: 4px;
  padding: 6px 12px;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  font-size: 20px;
  font-weight: 500;
}
.home .kvBanner .btn:hover {
  transform: translateY(3px);
  background-color: #650300;
}
@media (max-width: 575.98px) {
  .home .kvBanner {
    height: 396px;
  }
  .home .kvBanner h1 {
    font-size: 24px;
  }
  .home .kvBanner h2 {
    font-size: 16px;
  }
}

.home .special .gridGruop {
  -moz-column-gap: 24px;
       column-gap: 24px;
  margin-top: 32px;
}
.home .special .card {
  width: calc((100% - 72px) / 4);
}
.home .special .card h3 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-block: 24px 8px;
}
.home .special .card .imgBox {
  width: 82px;
  margin-inline: auto;
}
@media (max-width: 991.988px) {
  .home .special .gridGruop {
    gap: 36px 24px;
    flex-wrap: wrap;
  }
  .home .special .card {
    width: calc((100% - 24px) / 2);
  }
}
@media (max-width: 575.98px) {
  .home .special .gridGruop {
    row-gap: 36px;
  }
  .home .special .card {
    width: 100%;
  }
  .home .special .card h3 {
    font-size: 24px;
  }
}

.home .classic h3 {
  font-size: 48px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin-top: 8px;
  word-break: break-all;
}
.home .classic .gridGroup {
  margin-top: 48px;
  gap: 24px;
}
.home .classic .card {
  width: calc((100% - 48px) / 3);
  display: block;
  cursor: pointer;
}
@media (max-width: 991.988px) {
  .home .classic .gridGroup {
    flex-direction: column;
    align-items: center;
  }
  .home .classic .card {
    width: 336px;
  }
}
@media (max-width: 575.98px) {
  .home .classic .gridGroup {
    margin-top: 24px;
  }
  .home .classic .card {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */